@{
    ViewBag.Title = "Home Page";
}

<h2>Mbali's Study Group</h2>

<p>Welcome to our study group. Here you'll find information about all memebrs of the study group namely Mbali, Angela, Thando, John and Thabo.</p>

<div class="person-img">  <img src="@Url.Content("~/Images/study-group.jpg")" width="400" height="400" /></div>